*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#wrapper{
    background-color:#FCA311 ;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}


#carouselExampleDark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 10px 50px;

}

#carouselExampleIndicators .carousel-inner img{
    width:100rem ;
    height: 500px;
    border-radius: 10px;
}



